body {
    background-color: #e3e3e3;
}
header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100px;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header h1 {
    color: white;
    margin-inline-start: 20px;
}

header .profile {
    padding: 30px;
}

header .profile a {
    color: white;
    font-size: 38px;
}
.header-icon-container{
 margin-inline-end: 20px;
 width: 50px;
 position: relative;
 cursor: pointer;
}
header .icofont-cart-alt{
    color: white;
    font-size: 40px;
}



.products {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    margin-block-start: 150px;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    margin-inline-end: 15%;
    margin-inline-start: 15%;
}

.item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
    cursor: pointer;
    width: 155px;
    min-height: 220px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.item .add-btc {
    text-decoration: none;
    color: black;
    font-size: 22px;
}


.color {
    color: rgb(27, 131, 200);
}

.title-color-empty{
    color: #dba0a0;;
    text-decoration: line-through;
}


.lds-circle {
    position: absolute;
    top: calc(-32px - -50%);
    right: calc(-32px - -49%);
    transform: translateZ(1px);
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #FDE057;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}


@keyframes lds-circle {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

 .Header-circle-quanty{
    width: 20px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 3px;
    position: absolute;
    top: -3px;
    left: 41px;
 }

 .item:hover{
    box-shadow: 0 1px 6px 0 #515252d9;
    border-color: #dfe1e500;
    background-color: white;
 }

 .stock-amount {
    color: rgb(65, 65, 65);
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    margin: 5px 0px 5px;
}
 
.stock-amount::before{
    content: "In Stock: ";
    font-size: 0.9em;
    color: rgb(196, 115, 115);
}

.cartNodal {
  display: none;
  position: absolute;
}

.displayNodal{
    display: block;
    position: relative;
    float: right;
    width: 282px;
    min-height: 100px;
    top: -66px;
    right: 3px;
    border-radius: 10px;
    background: #181717;
    box-shadow:  5px 5px 10px #262121,
             -5px -5px 10px #0c0b0b;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.item_crypto{
    display: grid;
    grid-auto-flow: column;
    width: 90%;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4 ,min-content);
    gap: 10px;
    border-radius: 6px;
    padding-inline-start: 4px;
    align-items: center;
    border: 1px solid wheat;
    padding: 3px;
}
.item_crypto img{
    height: 100%;
}
.item_crypto span:nth-child(2) {
    background-image: url(./icofont/svg/plus-321.png);
    background-repeat: no-repeat;
    display: block;
    height: 32%;
    width: 16px;
}

.item_crypto span:nth-child(3) {
    background-image: url(./icofont/svg/substraction-323.png);
    background-repeat: no-repeat;
    display: block;
    height: 32%;
    width: 16px;
}
.item_crypto p {
    margin: 0;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    grid-column: 3;
}
.crypto_cart_title{
    margin: 0;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    
}
.hiden-cart{ 
position: absolute;
color: white;
top: 5px;
right: 5px;
display: block;
width: 16px;
height: 16px;
background-image: url(./icofont/svg/x-10363\ \(1\).svg);
background-size: contain;
background-repeat: no-repeat;
}

.hiden-cart:hover {
    background-color: red;
   
}

.shopping_cart_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-block-start: 30px;
    padding-block-end: 10px;
}

.animateByClick {
 animation-name: crecer;
 animation-duration: 0.3s;
 

}
.primary-button{
    width: 250px;
    height: 50px;
    background-color: #99f031;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    align-self: center;
    margin-block-end: 15px;
}

@keyframes crecer {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@media (max-width: 641px) {
    .cartNodal {
        width: 100%;;
        float: initial;
        top: 100px;
        right: 0;
    }
    .item_crypto{
        width: 250px;
        font-size: 14px;
    }
    .item{
        width: 120px;
        min-height: 0;
    }
    .crypto_cart_title{
        font-size: 16px;
    }
}